.mainDiv{
	width: 100%;
	height: 100%;
}
#button-one{
	bottom: 0%;
	position: absolute;
	left: 58%;
}
.background{
	z-index: -100;
    min-width: 100%;
    height: 120%;

    transform: scaleY(-1);
 	position: absolute;
  	left: 0%;
}

.loading-screen{
	width:100%;
	height: 50%;
	left: 0%;
	background-color: black;
	position:absolute;
	z-index: 101;
}
.loading-screen-pt1{

}
.chatWindow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
}
.window{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(155, 0, 0, .5);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: white;
    position: relative;
}
.inp{
    top: 88%;
    width: 80%;
    position: absolute;
    left: 10%;
    background-color: rgba(40, 40, 40, 0.5);
    border-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: black;
    color: whitesmoke;

}
.opac{
    opacity: 0;
}
.chatList{
    position: absolute;
    left: 10%;
    padding: 20px;
    color: whitesmoke;
}
li{
    border: 1px solid black;
}
nav ul{height:200px; width:200px;border: 1px solid black;}
nav ul{overflow:auto;}
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
#loading-pt1-down{
	transition: top 0.25s linear;
	top: -50%;
}
#loading-pt1-up{
	transition: top 0.4s linear;
	top: 0%;
}
#loading-pt2-down{
	transition: top 0.25s linear;
	top: 100%;
}
#loading-pt2-up{
	transition: top 0.4s linear;
	top: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    overflow: hidden;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.lds-roller {
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
  margin: auto;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 10%;
  background: #fff;
  top: 40%;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
