<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>novia</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body style="background-color: black; margin: 0px;">
	<video src="src/Stars.mp4" autoplay muted style="display: inline-block;"></video>
	<div class="square">
		<div class="centeredDiv">
			<h1 class="title">linkin</h1>

			<input id="nameBox" type="text" name="song" placeholder="Enter your name">
			<input id="passBox" type="text" name="song" placeholder="Enter your password">
			<br>
			<button id="login">Login</button>
			<button id="signin">Sign up</button	>
		</div>
	</div>

</body>
</html>

